<div class="header main">
  <a routerLink="../home" class="logo">GymOne</a>
  <div class="header-right">
    <a [routerLink]="['/home']" [routerLinkActive]="['active']" #one="routerLinkActive">Home</a>
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
    <a *ngIf="!currentU" [routerLink]="['/auth/log-reg']" [routerLinkActive]="['active']">Login</a>
    <a *ngIf="currentU" (click)="Logout()">Logout</a>
  </div>
  <!--    <span *ngIf="one.isActive">Something</span>-->
</div>
