#one{

}

.main{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  //bottom: 0;
  opacity: 1;

  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 7vw;
}

.header {
  overflow: hidden;
  padding: 2vw 1vw;
}
a{
  margin-right: 0.5vw;
}

.header a {
  font-family: fantasy;
  letter-spacing: 0.2vw;
  float: left;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 3.5vw;
  line-height: 2vw;
  border-radius: 0.5vw;
  //-webkit-text-stroke: 2px white; /* width and color */
}

.header a.logo {
  font-family: Stencil;
  letter-spacing: 0;
  font-size: 7vw;
  font-weight: bold;
  //-webkit-text-stroke: 0px white; /* width and color */
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: #145781;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.header-right {
  float: right;
}
