version: "3.9"

services:
  web:
    build:
      context: "gym-website-frontend"
    image: "localhost:7002/frontend-app:${IMAGE_TAG}"
    container_name: "${WEB_CONT_NAME}"
    ports:
      - "${WEB_PORT}:80"
    environment:
      - API_URL=${API_URL}

  api:
    build:
      context: "gym-website-backend"
    image: "localhost:7002/backend-api:${IMAGE_TAG}"
    container_name: "${API_CONT_NAME}"
    ports:
      - "${API_PORT}:80"
    depends_on:
      - db
  db:
    image: mongo:latest
    container_name: "mongodb"
    ports:
      - 27017:27017
    restart: always
