/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
@font-face {
  font-family: "WaterBrush";
  src: local("WaterBrush"), url(./assets/fonts/WaterBrush-Regular.ttf) format("truetype");
}
