<div class="main bg-color">
  <img class="home-img text-focus-in">
  <div class="intro-text-box">
    <p class="intro-text1 slide-in-fwd-center">Become the best </p>
    <p class="intro-text1 slide-in-fwd-center">version of yourself</p>
    <p class="intro-text2 slide-in-fwd-center3">Track your workouts with us and </p>
    <p class="intro-text2 slide-in-fwd-center3">keep your training progress sharp</p>
    <button routerLink="../about" class="slide-in-fwd-center3"> JOIN NOW </button>
  </div>
  <div class="bottom-box">
    <div class="bottom slide-in-bottom">

      <div class="bottom-text-box">
        <p> Track <br>exercises </p>
        <hr>
        <p class="">  </p>
      </div>

      <div class="bottom-text-box">
        <p> See your <br>progress </p>
        <hr>
        <p class="">  </p>
      </div>

      <div class="bottom-text-box">
        <p> See your <br>local ranking </p>
        <hr>
        <p class="">  </p>
      </div >

      <div class="bottom-text-box">
        <p> Compete <br>with friends </p>
        <hr>
        <p class="">  </p>
      </div>

    </div>
  </div>
</div>
