.intro-text-box{
  margin-top: 12vw;
  margin-left: 6vw;
}

// --- Button ---

button{
  margin-left: 25vw;
  font-size: 2vw;

}

button, button::after {
  width: 15vw;
  line-height: 5vw;
  font-size: 2.4vw;
  font-family: fantasy;
  background: linear-gradient(45deg, transparent 5%, black 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  //box-shadow: 6px 0px 0px white;
  outline: transparent;
  position: absolute;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "JOIN NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #1ab5c0 3%, #00E6F6 5%, #a50026 5%);
  text-shadow: -3px -3px 0px #26520b, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

// --- Back ground color and image with animation ---
.home-img{
  background-image: url("../../assets/images/gymExamBg.jpg");

  position: absolute;
  height: inherit;
  width: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  //opacity: 80%;

  //overflow: hidden;
  //visibility: inherit;
}

.bg-color{
  background-color: #145781;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 80%;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 80%;
  }
}

// --- Text with animation block ---
//Text 2
.intro-text2{
  font-family: fantasy;
  color: white;
  font-size: 1.5vw;
  margin: 0;
}

//Text 1
.intro-text1{
  font-family: fantasy;
  font-weight: bold;
  color: white;
  font-size: 5.5vw;
  margin: 0;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 2s cubic-bezier(0.940, 0.450, 0.460, 0.250) both;
  animation: fade-in-fwd 2s cubic-bezier(0.940, 0.450, 0.460, 0.250) both;
}

.fade-in-fwd2 {
  -webkit-animation: fade-in-fwd 2s cubic-bezier(0.940, 0.450, 0.460, 0.250) 0.7s both;
  animation: fade-in-fwd 2s cubic-bezier(0.940, 0.450, 0.460, 0.250) 0.7s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
  animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

//.slide-in-fwd-center2 {
//  -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
//  animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
//}

.slide-in-fwd-center3 {
  -webkit-animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s both;
  animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s both;
}

.slide-in-fwd-center4 {
  -webkit-animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
  animation: slide-in-fwd-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

// --- Bottom section ---
.bottom-box{
  position: fixed;
  right: 0;
  left: 0;
  //top: 0;
  bottom: 0;
  opacity: 1;

}

.bottom{
  margin: -1vw 15vw;
  display: flex;
}

.bottom-text-box{
  margin-right: 1vw;
  border: 3px solid white;
  font-family: fantasy;
  letter-spacing: 0.2vw;
  text-align: center;
  font-size: 1.9vw;
  border-radius: 1vw;
  min-width: 17vw;
  p{
    margin: 1vw;
  }
}

hr{
  margin: 0.5vw;
  border: 1px solid white;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
  animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}



