<div class="main bg-color"> <img class="home-img">

  <div  class="main-container inner">
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Profile</h2>

        <div class="side-by-side properties margin-left">
          <div class="margin-right">
            (profile picture here)
          </div>
          <div class="form-group">
            <label for="file"></label>
            <input type="file" id="file" class="" (change)="onFileSelected($event)">
          </div>
        </div>

        <div>
          <div class="properties">
            Users Display Name
          </div>
          <div class="properties">
            Users email
          </div>
          <button (click)="getImage()" > Oooo Kurva</button>
          <div *ngIf="imagerrr">
            <img  [src]="imagerrr" />
        </div>
          <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
        </div>
      </div>
    </div>
  </div>
</div>
