<div class="wrapper slide-in-left">
  <div class="sidebar">
<!--    <h2>-->
<!--      <a routerLink="../home" class="logo-text no-margin-left">-->
<!--        Gym <img src="../../assets/icons/weight_32px.png" alt="" class="img-logo img-white">ne-->
<!--      </a>-->
<!--    </h2>-->
    <ul>
      <li class="white-text bigger-font menu-name"><a [routerLink]="['/tracking']"><img src="../../assets/images/profile_32px.png" alt="" class="img-space img-white">Profile</a></li>

      <li class="white-text bigger-font menu-name"><a [routerLink]="['/tracking']"><img src="../../assets/images/friends_32px.png" alt="" class="img-space img-white">Friends</a></li>

      <!--      <li>-->
<!--        <a [routerLink]="['/tracking']">-->
<!--          <div class="item sub-padding"><img src="" alt="" class="img-space img-white">Sessions-->
<!--          </div>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a [routerLink]="['/tracking']">-->
<!--          <div class="item sub-padding"><img src="" alt="" class="img-space img-white">Exercises-->
<!--          </div>-->
<!--        </a>-->
<!--      </li>-->

      <li class="white-text bigger-font menu-name"><a [routerLink]="['/tracking']"><img src="../../assets/images/dumbbell_32px.png" alt="" class="img-space img-white">Tracking</a></li>


<!--      <li>-->
<!--        <a routerLink="../friends"><div class="item"><img src="../../assets/icons/friends_64px.png" alt="" class="img-space img-white">-->
<!--          Friends</div></a></li>-->
<!--      <li>-->
<!--        <a routerLink="../world"><div class="item"><img src="../../assets/icons/world_64px.png" alt="" class="img-space img-white">-->
<!--          World</div></a></li>-->
<!--      <li><a routerLink="../country"><div class="item"><img src="../../assets/icons/country_64px.png" alt="" class="img-space img-white">-->
<!--        Country</div></a></li>-->
<!--      <li><a routerLink="../city"><div class="item"><img src="../../assets/icons/city_64px.png" alt="" class="img-space img-white">-->
<!--        City</div></a></li>-->
    </ul>
<!--    <div class="social_media">-->
<!--      <a href="#"><i class="fab fa-facebook-f"></i><img src="../../assets/social/facebook_64px.png" alt="" class="img-social img-white"></a>-->
<!--      <a href="#"><i class="fab fa-instagram"></i><img src="../../assets/social/Instagram_64px.png" alt="" class="img-social img-white"></a>-->
<!--    </div>-->
  </div>
</div>
