<div class="wrapper slide-in-left">
  <div class="sidebar">
    <ul>
      <li class="white-text bigger-font menu-name"><a [routerLink]="['/profile']"><img src="../../assets/images/profile_32px.png" alt="" class="img-space img-white">Profile</a></li>

      <li class="white-text bigger-font menu-name"><a [routerLink]="['/friends']"><img src="../../assets/images/friends_32px.png" alt="" class="img-space img-white">Friends</a></li>


      <li class="white-text bigger-font menu-name"><a [routerLink]="['/tracking']"><img src="../../assets/images/dumbbell_32px.png" alt="" class="img-space img-white">Tracking</a></li>

      <li class="white-text bigger-font menu-name">Online: {{online}}</li>
    </ul>
  </div>
</div>
