
<!--  Start of the page nr1 -->
<div class="main bg-color"> <img class="home-img">

  <div  class="main-container inner">
    <div class="row">

      <!--      ----- 1st column -----       -->
      <div class="column" style="background-color:#aaa;">
        <h2>Your Friends</h2>
        <body>
        <div  class="border1" >

          <ul id="friendList">
              <li *ngFor="let friend of $listFriends">
             <p>{{friend.senderId}}  </p>
                <button>View Profile</button>
                <button (click)="unfriend(friend)">Unfriend</button>
          </li>
          </ul>
        </div>

        </body>

      </div>



      <!--      ----- 1st column -----       -->

      <!--      ----- 2rd column -----       -->
      <div class="column" style="background-color:#aaa;">
        <h2>Friends Requests</h2>

        <div class="border1">
          <div class="side-by-side ">
            <form class="search-container">
              <input type="text" placeholder="Send Friend Request to.." name="addFriendInput" [(ngModel)]="searchEmail">
              <button type="submit" class="" (click)="sendFriendRequest(searchEmail)"> Add Friend </button>
            </form>




            <ul id="requestList">

              <li *ngFor="let friend of $listRequests">
                <div  class="friend-request">
                  <p >{{friend.senderId}}  </p>

                  <button (click)="acceptFriendRequest(friend)">Accept</button>
                  <button (click)="unfriend(friend)">Decline</button>
                </div>
              </li>

            </ul>




          <!--            <span routerLink="">-->
          <!--            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">-->
          <!--                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>-->
          <!--                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>-->
          <!--            </svg>-->
          <!--            </span>-->
          <!--            <span routerLink="">-->
          <!--            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">-->
          <!--                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>-->
          <!--                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>-->
          <!--            </svg>-->
          <!--            </span>-->

        </div>



      </div>

    </div>

    <!--      ----- 2rd column -----       -->

  </div>
</div>
</div>

<!--  End of the page nr1 -->


